<div class='box answer'>
    <h3>Answer 1</h3>
    <ol>
        <li><p>1. I did the exploring.</p></li>
        <li><p>2. I've found <code>exercisesP1.js</code> and <code>question1.ejs</code> and <code>1.ejs</code></p></li>
        <li><p>3. Instead of tyoing in the answer div, I'm tryin to import the code from a new file<code>1answer.ejs</code>.</p></li>
        <li>4. let's see.</li>
    </ol>

</div>