<%- include('../partials/answers/head') %>
<body>
    <div class="four04 four04-text">
        <h1 class="four04-text">Oops! you've reached a place we don't have ready yet....</h1>
        <p class="four0four four04-text">if somebody asks, it's called a "404"</p>
        <img src="https://media.giphy.com/media/5zvV3HGF8OjryBaEzL/giphy.gif" alt="" class="egg-face">
        <h3 class="four04-text">so.... let's call this the "Homepage"</h3>
    </div>
    <%- include('../pages/homepage') %>
</body>