<%- include('../partials/answers/head') %>
<body>

<h1>Welcome to Questions and Answers!</h1>
<h2>where would you like to begin?</h2>
<ul>
    <li><button onclick="function question1() {location.href='/question1'};question1()"><p>Question 1</p></button></li>
    <li><button onclick="function question2() {location.href='/question2'};question2()"><p>Question 2</p></button></li>
    <li><button onclick="function question3() {location.href='/question3'};question3()"><p>Question 3</p></button></li>
    <li><button onclick="function question4() {location.href='/question4'};question4()"><p>Question 4</p></button></li>
    <li><button onclick="function question5() {location.href='/question5'};question5()"><p>Question 5</p></button></li>
    <li><button onclick="function question6() {location.href='/question6'};question6()"><p>Question 6</p></button></li>
    <li><button onclick="function question7() {location.href='/question7'};question7()"><p>Question 7</p></button></li>
    <li><button onclick="function question8() {location.href='/question8'};question8()"><p>Question 8</p></button></li>
    <li><button onclick="function question9() {location.href='/question9'};question9()"><p>Question 9</p></button></li>
    <li><button onclick="function question10() {location.href='/question10'};question10()"><p>Question 10</p></button></li>
</ul>
</body>

